@model OnlineEducation.Models.Account
@{
    ViewBag.Title = "Account Details";
    Layout = "~/Areas/HelpOnline/Views/Shared/_Layout.cshtml";
    var editLink = "Edit?id=" + Model.Email;
}

<h4>Account Details</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>        
    </dl>
</div>
<p>
   <a href="@editLink">Edit</a> |
    @Html.ActionLink("Change password", "ChangePassword")
</p>

