
@{
    ViewBag.Title = "Forget Password";
    Layout = "~/Areas/HelpOnline/Views/Shared/_Layout.cshtml";
}

<h4>Reset password</h4>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="text-danger"><span>@ViewBag.ErrorMessage</span></div>
    <div class="form-group">
        @Html.Label("Email", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("id", "", new { @class = "form-control" })
            @Html.ValidationMessage("Email", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Reset Password" class="btn btn-default" />
        </div>
    </div>
</div>
}
