@model IEnumerable<OnlineEducation.Areas.HelpOnline.Models.HelpLevel2>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/HelpOnline/Views/Shared/_Layout.cshtml";
}
<h4>Help Online Level 2 from @TempData["parentTitle"]</h4>
<p>
    @Html.ActionLink("Create New", "Create") | @Html.ActionLink("Back Level 1", "../AdminLevel1/Index") 
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Index)
        </th>
        <th> Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Index)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                @Html.ActionLink("List Level 3", "../AdminLevel3/Index", new { id = item.Id })
            </td>
        </tr>
    }

</table>